@page 
@using Packt.Shared
@model Northwind.Web.Pages.CustomersModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="row">
    <h1 class="display-2">Customers</h1>
    <table class="table">
        <thead class="thead-inverse">
            <tr>
                <th>Customer</th>
                <th>Country</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Customers is not null)
            {
                @foreach (Customer c in Model.Customers)
                {
                    <tr>
                        <td><a asp-page="/CustomerInfo" asp-route-id=@c.CustomerId >@c.ContactName</a></td>
                        <td><a>@c.Country</a></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>